@use "sass:color";

$bg: #222222;
$muted: #444444;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 8px;
$radius-bar: 4px;
$outside-margin: 12px;

window.device-menu {
    border: none;
    box-shadow: none;
    background-color: transparent; 
    font-size: 1.1em;
    font-weight: bold;
    color: $fg;

    .menu-content {
        background-color: $bg;
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;
        margin-top: 36px;
        margin-right: 12px;
    }

    grid {
        margin-bottom: 8px;
    }

    icon {
        font-size: 16px;
    }

    .item {
        margin-left: $outside-margin;
        margin-right: $outside-margin;
        border-radius: $radius;

        image {
            padding-left: 12px;
            padding-right: 12px;
        }

        button {
            margin: 4px;
            border-radius: 16px;
            min-width: 28px;
            min-height: 28px;

            image {
                padding: 0px;
            }
        }

        &:hover {
            background-color: $muted; //color.adjust($fg, $alpha: -0.84);
        }
    }

    button {
        background-color: $bg;
        min-width: 32px;
        min-height: 32px;
        margin-left: $outside-margin;
        margin-right: $outside-margin;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 4px;

        &:hover {
            background-color: $muted; //color.adjust($fg, $alpha: -0.84);
        }
    }

    .slider {
        padding-top: 4px;
        padding-bottom: 4px; 
    }

    .active {
        color: $accent;
    }

    .merged {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        // border-right: $accent solid 1px;
    }

    .merged:first-child {
        margin-left: 12px;
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
    }

    .merged:last-child {
        margin-right: 12px;
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;
        border-right: none;
    }
}

window.bar {
    border: none;
    box-shadow: none;
    background-color: $bg;//color.adjust($bg, $alpha: -0.5);
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;

    button {
        background-color: $bg;
        border-radius: $radius-bar;
        padding: 0px;
        min-height: 24px;
        min-width: 24px;
        margin-left: 2px;
        margin-right: 2px;

        &:hover {
            background-color: $muted; //color.adjust($fg, $alpha: -0.84);
        }
    }
}
