@use "sass:string";

$bg: string.unquote("@window_bg_color");
$fg: string.unquote("@window_fg_color");
$accent: string.unquote("@accent_color");
$popover-bg: string.unquote("@popover_bg_color");

$radius: 12px;
$radius-bar: 4px;
$margin: 12px;

window.device-menu {
    background-color: transparent; 
    color: $fg;

    .menu-content {
        background-color: $popover-bg;
        border-radius: 0 0 $radius $radius;
        margin-top: 24px;
        padding: 8px 0;
    }

    grid {
        margin-bottom: 8px;
    }

    icon {
        font-size: 16px;
    }

    .item {
        margin: 0 $margin;
        border-radius: $radius;
        // padding: 4px;

        image {
            padding-left: 12px;
            padding-right: 12px;
        }

        button {
            margin: 4px;
            border-radius: 16px;
            min-width: 28px;
            min-height: 28px;
            background: none;
            box-shadow: none;

            image {
                padding: 0px;
            }
        }

        &:hover {
            background-color: string.unquote("alpha(#{$fg}, 0.1)");
        }
    }

    button {
        background-color: transparent;
        color: $fg;
        min-width: 32px;
        min-height: 32px;
        margin: 8px $margin;
        padding: 4px;
        border-radius: $radius;

        &:hover {
            background-color: string.unquote("alpha(#{$fg}, 0.1)");
        }
    }

    .slider {
        padding-top: 4px;
        padding-bottom: 4px; 
    }

    .active {
        color: $accent;
    }

    .linked {
        margin: 8px $margin;

        > button {
            margin: 0;
            border-radius: 0;

            &:first-child {
                border-radius: $radius 0 0 $radius;
            }

            &:last-child {
                border-radius: 0 $radius $radius 0;
            }
        }
    }
}

window.bar {
    background-color: $bg;
    color: $fg;
    font-weight: bold;

    button {
        background-color: transparent;
        border-radius: $radius-bar;
        padding: 0px;
        min-height: 24px;
        min-width: 24px;
        margin-left: 2px;
        margin-right: 2px;

        &:hover {
            background-color: string.unquote("alpha(#{$fg}, 0.1)");
        }
    }
}
