// _fluent.scss
// Flat architecture with no radiuses (aggressive sharp corners)

window.theme-fluent {

    // Override structural elements to 0 or very small radiuses
    // 4px for outer containers, 2px for buttons (Microsoft fluent style)

    .menu-content,
    .module,
    popover>contents {
        border-radius: $radius-xs;
    }

    .item,
    togglebutton.item,
    .panel-header>button,
    .power-grid button,
    .tray button {
        border-radius: calc($radius-xs / 2);
    }

    .panel-header {
        border-radius: calc($radius-xs / 2);
    }

    .clock-pill,
    .system-pill {
        border-radius: $radius-xs;
    }

    window.bar {
        .workspace-button.dot {
            border-radius: calc($radius-xs / 2);

            &:hover {
                min-width: $ws-dot-hover-width;
                border-radius: calc($radius-xs / 2);
            }

            &.active {
                min-width: $ws-dot-active-width;
                border-radius: calc($radius-xs / 2);
            }
        }
    }

    calendar {
        &:selected {
            border-radius: calc($radius-xs / 2);
        }
    }
}
